.heading {
  max-width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
.heading img {
  height: 100;
}

.heading .text {
  position: absolute;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.heading .text h2 {
  font-weight: 800;
}
hr {
  width: 100%;
  color: rgba(128, 128, 128, 0.438);
}
.cats hr {
  margin-top: -1rem;
}
.categories .catImg {
  background-color: #d1b0d4;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.catImg img {
    width: 100%;
}
.main-title {
  font-weight: bold;
  margin-bottom: 2rem;
}
